*{
    box-sizing: border-box;
}
::-webkit-input-placeholder {
    text-align:center;
}

:-moz-placeholder { /* Firefox 18- */
    text-align:center;
}

::-moz-placeholder {  /* Firefox 19+ */
    text-align:center;
}

:-ms-input-placeholder {
    text-align:center;
}

h1{
    margin: 0px;
}

button{
    color: white;
    padding: 5px 10px;
    border: 1px solid #464646;
    background-color: #464646;
    margin: 5px;
    transition: .3s ease-in-out;
}

table {
    margin: 10px;
    padding: 5px;
    border: 1px dashed gray;
    border-radius: 3px;
}

table tr{
    padding: 10px;
}

table tr td{
    padding: 10px;
}

button:disabled{
    color: white;
    padding: 5px 10px;
    border: 1px solid #9b9b9b;
    background-color: #9b9b9b;
    margin: 5px;
    transition: .2s ease-in-out;
}

button:hover{
    background-color: #8a8a8a;
    border: 1px solid #8a8a8a;
}

.main{
    width: 500px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Tahoma;
    font-size: 12px;
    font-weight: 600;
}

.loginBlock{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.testBlock {
    width: 500px;
    height: 210px;
    padding: 10px;
    border: 1px dashed #9b9b9b;
    border-radius: 3px;
}
.testBlock p{
    display: flex;
    justify-content: center;

}

#levels{
    margin: 10px;
    width: 173px;
    text-align-last: center;
}


